/Ficha2/build/
/Ficha3/nbproject/private/
/Ficha3/build/
/Ficha3/dist/
/Ficha4/nbproject/private/
/Ficha4/build/
/Ficha5/nbproject/private/
/Ficha5/build/
/Ficha6/nbproject/private/
/Ficha6/build/
/Ficha7/nbproject/private/
/Ficha7/build/
/TrabalhoGrupo/nbproject/private/
/TrabalhoGrupo/build/
/TrabalhoGrupo/dist/